google-generativeai
moviepy>=2.1.1
Pillow>=9.0.0
python-dotenv>=0.21.0
requests>=2.25.0
gTTS>=2.5.4
google-auth-oauthlib>=1.2.1
google-api-python-client>=2.154.0
selenium>=4.27.1
PyYAML==6.0
